header.main-header
    a.logo(href='/app/dashboard')
        // mini logo for sidebar mini 50x50 pixels
        span.logo-mini
            | DP
        // logo for regular state and mobile devices
        span.logo-lg
            | DailyPay
    nav.navbar.navbar-static-top(role='navigation')
        // Sidebar toggle button
        a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation

        // Navbar Right Menu
        .navbar-custom-menu
            ul.nav.navbar-nav
                // User Account: style can be found in dropdown.less
                li.dropdown.user
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        //img.user-image(src='dist/img/user2-160x160.jpg', alt='User Image')
                        img.user-image(src='#{user.gravatar(60)}')
                        span.hidden-xs
                        | #{user.get('firstName')} #{user.get('lastName')}&nbsp;
                        i.caret
                    ul.dropdown-menu
                        li
                            a(href='/account')
                                i.fa.fa-user
                                span My Account
                        li.divider
                        li
                            a(href='/logout')
                                i.fa.fa-sign-out
                                span Logout